.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;

  @media (min-width: $breakpoint_s_large) {
    align-items: flex-start;
  }

  &__text {
    text-align: center;
    font-size: 1.25rem;

    @media (min-width: $breakpoint_s_large) {
      text-align: left;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: 0;
    display: inline-flex;
  }

  &__element {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.75rem;
    line-height: 1.15;
    border-right: 1px solid $color_white;

    @media (min-width: $breakpoint_s_large) {
      font-size: 2.25rem;
    }

    &:last-child {
      border: none;
    }
  }

  &__label {
    color: $color_blue;
    font-size: 0.875rem;

    @media (min-width: $breakpoint_s_large) {
      font-size: 1.125rem;
    }
  }

  &__btn {
    margin-top: 4.25rem;
  }
}
