.faq {
  margin: auto 2.25rem;
  max-width: 100%;
  padding: 0;

  @media (min-width: $breakpoint_medium) {
    margin: 100px auto auto 680px;
    max-width: 920px;
  }

  &__term {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;

    @media (min-width: $breakpoint_medium) {
      font-size: 1.5rem;
    }

    &::before {
      content: '+';
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $color_white;
      background-color: $color_blue;
      width: 50px;
      height: 50px;
      margin-right: 2rem;
      border-radius: 50%;
      font-size: 2rem;
      font-weight: 300;
      flex-shrink: 0;
    }

    + .faq__definition {
      display: none;
    }

    &.open {
      margin-bottom: 0;

      &::before {
        content: '-';
        color: $color_primary;
      }

      + .faq__definition {
        display: block;
        animation-duration: 150ms;
        animation-name: scaleFaq;
        animation-delay: 100ms;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
    }
  }

  &__definition {
    margin-top: 1rem;
    margin-left: calc(50px + 2rem);
    margin-bottom: 4rem;
    font-size: 1.25rem;
    font-family: $font-secondary;
    font-weight: 300;
    color: $color_light_blue;
  }
}

@keyframes scaleFaq {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
