::placeholder {
  font-family: $font_primary;
  color: $color-input;
  font-size: 1.0625rem;
  font-weight: 300;
  opacity: 0.8;

  @media (min-width: $breakpoint_s_large) {
    font-size: 1.5rem;
  }
}

.form {
  margin-left: $padding_mobile;
  margin-right: $padding_mobile;
  font-family: $font_secondary;
  font-weight: 400;
  font-size: 1.0625rem;
  color: $color_form_text;

  @media (min-width: $breakpoint_s_large) {
    margin: 0;
    padding: 0 3.25rem;
    font-weight: 400;
  }

  &__wrapper {
    padding: 2.375rem;
    grid-template-columns: 1fr;
    grid-row-gap: 0.75rem;
    margin-bottom: 2.25rem;
    display: grid;
    background-color: $color_white;
    border-radius: 0.8125rem;

    @media (min-width: $breakpoint_s_large) {
      padding: 0;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 30px;
      grid-column-gap: 20px;
      background-color: transparent;
    }
  }

  &__input {
    max-width: 100%;
    min-width: 0;
    padding: 1.1875rem;
    background: $color_white;
    color: $color-input;
    font-family: $font_primary;
    font-size: 1.0625rem;
    font-weight: 300;
    text-align: left;
    border-radius: 0.3125rem;
    border: 1px solid $color_light_grey;

    @media (min-width: $breakpoint_s_large) {
      padding: 0.75rem 2rem;
      max-width: 260px;
      text-align: center;
      font-size: 1.5rem;
      border: none;
      border-radius: 0.5rem;
    }

    &:active,
    &:focus {
      outline: none;
      color: $color_dark_grey;
      border-color: $color_dark_grey;

      @media (min-width: $breakpoint_s_large) {
        color: $color_input;
        font-weight: 500;
      }
    }
  }

  &__btn {
    display: flex;
    margin: 1rem auto 0 auto;
    min-width: 280px;
    justify-content: center;

    @media (min-width: $breakpoint_s_large) {
      min-width: 0;
      margin: 1rem 80px 0 auto;
    }
  }

  &__text {
    margin-bottom: 1.25rem;
    display: block;

    .marker {
      color: $color_marker;
    }
  }

  &__checkbox {
    .label {
      display: flex;
      font-size: 0.9375rem;
      line-height: 1.25;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        margin-right: 0.75rem;
        width: 25px;
        height: 25px;
        background-color: $color_cyan;
        background-repeat: no-repeat;
        flex-shrink: 0;
        border-radius: 2px;
      }
    }

    .checkbox {
      position: absolute;
      left: -9999px;

      &:checked + .label {
        &::before {
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 5c-.28 0-.53.11-.71.29L7 9.59l-2.29-2.3a1.003 1.003 0 00-1.42 1.42l3 3c.18.18.43.29.71.29s.53-.11.71-.29l5-5A1.003 1.003 0 0012 5z' fill='%23fff'/%3E%3C/svg%3E");
        }
      }
    }
  }

  &.dirty {
    .form__input {
      &:invalid {
        background-color: $color_error;
      }
    }

    .checkbox {
      &:invalid {
        & + .label {
          &::before {
            background-color: $color-error;
          }
        }
      }
    }
  }
}
