*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  background: linear-gradient($color_primary 0%, $color_navy 100%);
  color: $color-white;
  font-family: $font-primary;
  font-weight: 300;

  @media (min-width: $breakpoint_medium) {
    background: $color_white;
  }

  &.menu-open {
    overflow: hidden;
  }
}

b,
strong {
  font-weight: 700;
}

.container {
  // margin-left: 2.25rem;
  // margin-right: 2.25rem;
  max-width: 100%;

  @media (min-width: $breakpoint_medium) {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
}

.bg {
  &--gradient {
    // background-color: $color_secondary;
    // background-image:
    //   url(../images/fadein_bg.svg),
    //   url(../images/fadein_bg.svg),
    //   linear-gradient(180deg, $color_secondary 0%, $color_tertiary 100%);
    // background-repeat: no-repeat, no-repeat, no-repeat;
    // background-position: 140% 270px, 10px 140%, 0 0;
    // background-size: 485px auto, 570px auto, auto;
    background-image: url(../images/fadein_bg.svg);
    background-repeat: no-repeat;
    background-position: 140% 270px;
    background-size: 485px auto;

    @media (min-width: $breakpoint_medium) {
      background-color: $color_secondary;
      background-image:
        url(../images/fadein_bg.svg),
        url(../images/fadein_bg.svg),
        linear-gradient(180deg, $color_secondary 0%, $color_tertiary 100%);
      background-position: 140% -500px, -250px 80%, 0 0;
      background-size: 1500px auto, 1500px auto, auto;
      background-repeat: no-repeat, no-repeat, no-repeat;
    }
  }

  &--image {
    background-image: url(../images/Image-1@3x.png);
    background-size: 595px auto;
    // background-position: -20% -140px;
    background-position: calc(100vw - 480px) -140px;
    background-repeat: no-repeat;

    @media (min-width: $breakpoint_medium) {
      background-size: auto;
      background-position: 108% -130px;
      background-repeat: no-repeat;
      background-image: url(../images/Image.png);
      background-image: -webkit-image-set(url(../images/Image.png) 1x, url(../images/Image@2x.png) 2x);
      background-image: image-set(url(../images/Image.png) 1x, url(../images/Image@2x.png) 2x);
    }
  }
}

.main {
  overflow: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-primary;
  font-weight: 300;
  display: inline-block;
  line-height: 1.15;

  @media (min-width: $breakpoint_medium) {
    line-height: 1.5;
  }
}

.h1 {
  font-size: 3.5rem;

  @media (min-width: $breakpoint_medium) {
    font-size: 5rem;
    letter-spacing: 2px;
  }
}

.h2 {
  font-size: 2.75rem;

  @media (min-width: $breakpoint_medium) {
    font-size: 4.375rem;
  }
}

.h3 {
  font-size: 2.375rem;
  letter-spacing: 1.2px;

  @media (min-width: $breakpoint_medium) {
    font-size: 3rem;
  }
}

.h4 {
  font-size: 2.5rem;
}

.h5 {
  font-size: 2rem;
}

.h6 {
  font-size: 1.25rem;
}

.header {
  &--underline {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      display: block;
      height: 5px;
      width: 15%;
      background: transparent linear-gradient(268deg, #0ce8f9 0%, #0046f5 100%) 0% 0% no-repeat padding-box;

      @media (min-width: $breakpoint_medium) {
        bottom: 0;
      }
    }

    &.h1 {
      &::after {
        width: 116px;
      }
    }

    &.h3 {
      padding-bottom: 1.25rem;

      &::after {
        width: 82px;
      }
    }
  }

  &--light {
    margin-bottom: 1.625rem;
    padding-bottom: 1.125rem;
    margin-top: 5.25rem;
    display: block;
    text-align: center;
    position: relative;

    @media (min-width: $breakpoint_medium) {
      margin-bottom: 3.125rem;
      padding-bottom: 2.25rem;
    }

    &::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 4px;
      background-color: $color_blue;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.text {
  &--primary {
    text-align: center;
    margin-top: 0;
    font-size: 1.25rem;

    @media (min-width: $breakpoint_medium) {
      text-align: left;
    }
  }

  &--secondary {
    text-align: center;
    margin-top: 0;
    font-size: 1.25rem;
    color: $color_light_blue;

    @media (min-width: $breakpoint_medium) {
      text-align: left;
    }
  }
}

.footer {
  display: none;

  @media (min-width: $breakpoint_medium) {
    display: block;
    margin-top: 11.5rem;
  }

  &__nav {
    .nav__list {
      list-style: decimal;
      font-size: 0.75rem;
      font-weight: 700;
      display: flex;

      &__item {
        margin-right: 1.25rem;
        color: $color_white;
        transition: color 250ms ease-out;
        will-change: color;

        &:hover {
          color: $color_light_blue;
        }
      }
    }

    .nav__link {
      font-family: $font_secondary;
      color: $color_white;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 250ms ease-out;
      will-change: color;

      &:hover {
        color: $color_light_blue;
      }
    }
  }
}
