.popup {
  width: 80%;
  max-width: 1162px;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3rem;
  background-color: $color_white;
  color: $color_black;
  font-family: $font_primary;
  text-align: center;
  position: relative;

  &__logo {
    position: absolute;
    left: 50%;
    top: -136px;
    transform: translateX(-50%);
    background-color: $color_white;
    border-radius: 50%;
    width: 272px;
    height: 272px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
      width: 240px;
      height: 240px;
    }
  }

  &__close {
    position: absolute;
    top: 38px;
    right: 42px;
    cursor: pointer;

    &__icon {
      width: 50px;
      height: 50px;
    }

    &__link {
      color: $color_gray;
      font-size: 1.375rem;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__title {
    padding-top: 16rem;
    margin-top: 0;
    margin-bottom: 2.5rem;
    font-size: 3.25rem;
    font-weight: 500;
  }

  &__subtitle {
    margin: 0;
    color: $color_gray;
    font-size: 2rem;
    font-weight: 300;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: $color_gray;
    font-size: 1.375rem;
  }

  &__field {
    margin-top: 5.625rem;
    margin-bottom: 1.875rem;
    background-color: #eee;
    border: 1px solid #c2c2c2;
    border-radius: 3.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    margin-left: 3.25rem;
    margin-right: 3.25rem;
    background: none;
    border: none;
    font-weight: 700;
    font-size: 1.5rem;
    color: #909090;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 380px;
    padding: 2.25rem 3.25rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: $color_white;
    background-color: $color_blue;
    border: 1px solid $color_blue;
    outline: none;
    border-radius: 3.25rem;
    cursor: pointer;

    &__icon {
      margin-left: 3.375rem;
    }
  }

  &__cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding-top: 136px;
    background-color: $color_primary;
  }
}
